.thanks{
    color: rgb(126, 78, 46);
    padding: 30px;
    padding-top: 10%;
    
}

.con{
    padding-top: 80px;
    padding-left: 80px;
    padding-bottom: 80px;

    border: solid rgb(209, 120, 48) 2px;
    border-radius: 10px;
}